div#map-container {
	width: 900px;
	float: left;
	}
div#map-canvas {
	width: 900px; 
	height: 750px; 
	margin: 20px 0;
	max-width: none;
	border: 2px solid #000;
	border-radius: 3px;
	box-shadow: 0 0 10px #000;
	}
div#map-canvas img { max-width: inherit; }

div#map-sidebar {
	width: 280px;
	float: right;
	margin: 20px 0;
	}
	
	
/* Markers */
div.marker-window {
	color: #000;
	}
h3.marker-title {
	font-family: 'Palatino Linotype', 'Book Antiqua' , serif;
	text-shadow: none;
	font-weight: bold;
	}
	
/* Form */
form#map-controls {
	margin: 0;
	}
ol#controls-list {
	margin: 0;
	padding: 0;
	list-style: none;
	}
ol#controls-list > li {
	margin: 0.5em 0;
	}
ol#controls-list > li label {
	width: 100px;
	display: inline-block;
	}
ol#controls-list input {
	width: 250px;
	padding: 5px;
	}
ol#controls-list select {
	width: 260px;
	padding: 5px;
	}
ol#controls-list textarea {
	width: 100%;
	float: left;
	margin: 0 0 1em;
	}
ol#controls-list input[type="submit"] {
	width: 120px;
	height: 40px;
	float: right;
	}
ol#controls-list button#clear {
	width: 120px;
	height: 40px;
	float: left;
	}

h3.marker-title { 
	margin: 0; 
	} 
p.marker-content { 
	margin: 0.5em 0; 
	}

	
@media only screen and (max-width: 1199px) {
div#map-sidebar { 
	width: 100%;
	float: none;
	margin: 0 0 20px;
	}	
}