/*---------------------------------------------
	11.1 - TINYMCE
----------------------------------------------*/
div.wp-editor-wrap {
	width: 98%;
	float: left;
	margin: 0 1% 0.5em;
	}
div.wp-editor-container {
	width: auto;
	padding: 0;
	width: 100%;
	overflow: hidden;
	border: 1px solid #333;
	border-radius: 3px;
	box-shadow: 0 0 8px #000;
	}
textarea.wp-editor-area {
	max-width: 100%;
	background: #151515;
	color: #CCC;
	font-size: 0.75em;
	font-family: 'Open Sans' , sans-serif;
	}
div.wp-editor-container div.mce-edit-area {
	background: #000;
	}

/* Toolbars */	
div.wp-editor-container .quicktags-toolbar,
div.wp-editor-container .mce-toolbar-grp,
div.wp-editor-container .mce-statusbar {
	padding: 5px 0;
	border-bottom: 3px solid #111;
	background: #AAA;
	background: -ms-linear-gradient(top, #BBB, #b3a695);
    background: -moz-linear-gradient(top, #BBB, #b3a695);
	background: -o-linear-gradient(top, #BBB, #b3a695);
	background: -webkit-linear-gradient(top, #BBB, #b3a695);
	box-shadow: 0 0 3px #000 inset;
	border: 1px solid #000;
	}
div.wp-editor-container .mce-statusbar { padding: 2px 10px; }
div.wp-editor-container .mce-statusbar > * { color: #000; }

/* Editor Control Tabs */
.wp-editor-tools .wp-switch-editor {
	background: #333;
	background: -ms-linear-gradient(top, #444, #111);
    background: -moz-linear-gradient(top, #444, #111);
	background: -o-linear-gradient(top, #444, #111);
	background: -webkit-linear-gradient(top, #444, #111);
	border: 1px solid #000;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 -2px 2px #000;
	color: #999;
	}
.tmce-active .wp-editor-tools .switch-tmce,
.html-active .wp-editor-tools .switch-html {
	margin-bottom: -1px;
	background: #BBB;
	background: -ms-linear-gradient(top, #CCC, #BBB );
    background: -moz-linear-gradient(top, #CCC, #BBB );
	background: -o-linear-gradient(top, #CCC, #BBB );
	background: -webkit-linear-gradient(top, #CCC, #BBB );
	color: #444;
	}
.wp-editor-tools .wp-switch-editor:hover,
.tmce-active .wp-editor-tools .switch-tmce:hover,
.html-active .wp-editor-tools .switch-html:hover {
	background: #BBB;
	background: -ms-linear-gradient(top, #CCC, #BBB );
    background: -moz-linear-gradient(top, #CCC, #BBB );
	background: -o-linear-gradient(top, #CCC, #BBB );
	background: -webkit-linear-gradient(top, #CCC, #BBB );
	color: #c5772b;
	text-shadow: 0 0 2px #c60;
	}
	
/* Icons */
div.mce-toolbar div.mce-btn-group {
	margin: 3px 0.5em;
	}
div.wp-editor-container div.quicktags-toolbar {
	padding: 3px 0.5em;
	}
div.mce-toolbar div.mce-btn-group div.mce-btn,
.quicktags-toolbar input.ed_button {
	background: none;
	border: none;
	margin: 0 0.5em 0 0;
	}
.mce-toolbar .mce-btn button,
.quicktags-toolbar input.ed_button {
	box-shadow: none;
	border: 1px solid transparent;
	border-radius: 0;
	}
.mce-toolbar .mce-btn i.mce-ico,
.quicktags-toolbar input.ed_button { 
	color: #444; 
	}
.mce-toolbar .mce-btn button:hover,
.quicktags-toolbar input.ed_button:hover {
	background: #b3a695;
	border: 1px solid #000;
	border-radius: 0;
	}
.mce-toolbar .mce-btn:hover i.mce-ico,
.quicktags-toolbar input.ed_button:hover {
	color: #000;
	}


/* Dropdowns */
.mce-toolbar .mce-btn-group div.mce-btn.mce-listbox,
.mce-toolbar .mce-btn-group div.mce-btn.mce-listbox:hover {
	background: #b3a695;
	border: 1px solid transparent;
	}
.mce-toolbar .mce-btn-group div.mce-btn.mce-listbox button {
	border: 1px solid #444;
	}
div.mce-panel.mce-menu,
div.mce-panel.mce-floatpanel {
	padding: 0;
	background: #b3a695;
	border: 1px solid #000;
	}

/* Color Picker */
.mce-toolbar .mce-btn-group div.mce-btn.mce-colorbutton,
.mce-toolbar .mce-btn-group div.mce-btn.mce-colorbutton:hover  {
	border: 1px solid #444;
	background: transparent;
	}
.mce-toolbar .mce-btn-group div.mce-btn.mce-colorbutton > button,
.mce-toolbar .mce-btn-group div.mce-btn.mce-colorbutton:hover > button,
.mce-toolbar .mce-btn-group div.mce-btn.mce-colorbutton > button:hover {
	background: none;
	border: none;
	}
.mce-grid.mce-colorbutton-grid td div { border: 1px solid #000; }
	
/* Popup Dialogues */
div#wp-link-wrap {
	overflow: visible;
	background: #CCC;
	background: -ms-linear-gradient(top, #CCC, #BBB );
    background: -moz-linear-gradient(top, #CCC, #BBB );
	background: -o-linear-gradient(top, #CCC, #BBB );
	background: -webkit-linear-gradient(top, #CCC, #BBB );
	font-size: 12px;
	}
form#wp-link {
	color: #000;
	}
form#wp-link div#link-modal-title {
	margin: 0 0.5em;
	border-bottom: 1px solid #000;
	background: none;
	}
form#wp-link .submitbox {
	background: none;
	margin: 0.5em;
	border: none;
	bottom: 5px;
	}
form#wp-link input[type="checkbox"] {
	width: 20px;
	height: 20px;
	position: relative;
	opacity: 100;
	}