/**
 * Apocrypha Theme TinyMCE Editor Stylesheet
 * Andrew Clayton
 * Version 1.0.0
 * 8-7-2013
 */

body#tinymce {
	background: #151515;
	color: #CCC;
	min-height: 100px;
	font-size: 12px;
	font-family: 'Open Sans' , sans-serif;
	}